body{
    background-image: url("assets/martin-martz-3_x1FRGAEwY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#weather-converting-app-text{
    text-align: left;
    color: black;
    font-family: candara;
    text-decoration: none;

}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    position: relative;
    justify-content: right;
    border-radius: 15px;

    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    top: -50px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  .conversionformcelsius{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 10cap;
    margin: auto;
    color: white;
    font-family: arial;
    width: 50cap;
    height: 18cap;
    flex-direction: column;
    border-radius: 20px;
    
  }
  .container-of-form{
   margin-top: 5cap
  }

  @media (max-width : 600px){
    .conversionformcelsius{
      width: 150px;
    }
  }

  form button{
    padding: 8px;
    background-color: transparent;
    margin: 10pt;
    border: none;
    background-color: rgba(90, 90, 90, 0.2);
    border-radius: 8px;
    transition: 0.3s;
    color: white;
    justify-content: center;
  }

  button:hover{
    cursor:  pointer;
    background-color: rgba(25, 25, 25, 0.5);
    transition: 0.3s all; 
  }

  input{
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 15px;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    
  }

  #result{
    color: white;
    text-align: center;
  }

  h4{
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px;
    text-align: center;
    margin: auto;
    width: 15cap;
    margin-top: 6px;;
  }